/* Добавление шрифтов на страницу*/

@font-face {
    font-family: SF Mono;
    src: url("fonts/SFMonoLight.ttf");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: SF Mono;
    src: url("fonts/SFMonoSemibold.ttf");
    font-weight: 700;
    font-display: swap;
}

body {
    margin: 8px 128px 0px 128px;
}

h1 {
    color: #000;
    font-family: SF Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%;
    margin: 0px 0px 16px 0px;
}

p {
    color: #000;
    font-family: SF Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%; /* 32.4px */
}

a {
    color: #000;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header p, li {
    color: #2C42B8;
    font-family: SF Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%;
    margin: 0px;
}

.header-links {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.header-links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.header-links ul li {
    color: #2C42B8;
    text-decoration: none;
    border-bottom: 1px solid #CCC8FF;
}

.avatar-pic {
    width: 56px;
    height: 56px;
}

.about-block {
    margin-top: 128px;
    width: 50%;
}

.tripple-project-block {
    margin-top: 128px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.responsive-block {
    position: relative;
    width: 100%;
}

/* Адаптивный квадратный блок ↓ */

.responsive-block::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.content {
    position: absolute;
    padding: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2C42B8;
}

.content a {
    color: white;
}

/* Адаптивная верстка ↓ */

@media (max-width: 420px) {

    body {
        margin: 8px 24px 0px 24px;
    }

    .about-block {
        margin-top: 64px;
        width: 100%;
    }

    .tripple-project-block {
        margin-top: 64px;
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 12px;
    }

}




